/* RESET GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; /* Faz o scroll ficar suave ao clicar no botão */
}

body{
    background-color: #111;
    color: white;
}

/* MENU SUPERIOR */
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo span{
    color: rgb(0, 255, 115);
}

nav {
    display: flex;
    align-items: center;
}

nav a{
    color: white !important;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

nav a:hover{
    color: gold !important;
}

.fa-whatsapp { color: #25d366; }
.fa-instagram { color: #e4405f; }

/* BANNER PRINCIPAL */
.secao-img1{
    width: 100%;
    height: 100vh;
    background-image: url("./produtos/logo.jpg");
    background-size: cover;
    background-position: center 10%;
    display: flex;
    align-items: center;
    padding: 60px;
}

.texto h2{
    font-size: 50px;
    margin-bottom: 20px;
}

button{
    background: #48f75f;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    background: #3fe669;
    transform: scale(1.05);
}

/* ESTILIZAÇÃO DA SEÇÃO DE PRODUTOS */
#nossos-produtos {
    padding: 60px 20px;
    background-color: #241b1b;
}

.produtos-titulo {
    list-style: none;
    text-align: center;
    margin-bottom: 40px;
}

.produtos-titulo li {
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 255, 98);
    text-transform: uppercase;
}
/*Imagnes do sobre nós*/
.img_sobrenos {
    width: 15%;
    float: left;
    margin-right: 20px;
}
.titulo_sobrenos {
    clear: left;
    text-align: center;
}
.texto_diferente {
    color: rgb(0, 128, 28);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.sobre_nos {
    margin: 0;
    text-align: justify;
    width: 65%;
    margin-left: 20%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.card a {
    text-decoration: none; /* Remove o sublinhado azul */
    color: inherit;        /* Mantém a cor original do seu texto */
    display: block;        /* Garante que o link ocupe todo o espaço do card */
}

.card:hover {
    transform: scale(1.02); /* Efeito opcional: aumenta levemente ao passar o mouse */
    transition: 0.3s;
}

/* SEGUNDA IMAGEM */
.secao-img2{
    width: 0%;
    height: 40%;
    background-image: url("./produtos/moto.king.jpg");
    background-size: cover;
    background-position: center;
}
.video{
    padding: 1% 0 0 20%;
     width: 20px;
}

/* RODAPÉ */
footer{
    background: url("./produtos/logo.jpg");
    background-size: cover;
    background-position: center;
    background-color: #25d366(0, 0, 0, 0.6);
    background-blend-mode: darken;
    padding: 30px 10px 10px 0;
}
.container-flex {
display: flex;
flex-direction: row-reverse;
gap: 10px;
width: 80%;
padding: 10px;
}



.container {
    margin: 20px auto;
}

img {
    width: 300px;
    height: auto;
    border:  5px solid #3fe669;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    transition: transform 0.3s; 
}

.contatos-container {
    max-width: 450px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid #0ab10ade;
    background-color: #221f1fcc;
    font-family: sans-serif;
}

.formulario-contato .campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.formulario-contato label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-contato input[type="text"],
.formulario-contato input[type="email"],
.formulario-contato input[type="tel"],
.formulario-contato textarea,
.formulario-contato select {
    padding: 8px;
    border: 1px solid #161515d8;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.formulario-contato .campo-opcao,
.formulario-contato .campo-checkbox {
    margin-bottom: 15px;
}

.formulario-contato .campo-opcao label {
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
}

